.modal-form {
    border: solid white 5px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    border-radius: 20%;
    border: solid 1px white;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: auto;
    background-color: #642bd6;
    padding: 2rem;
}

.modal-formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cerrar-modal {
    font-size: 1.5rem;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0;
    background-color: transparent;
    border: none;
}

#modal-title {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1em;
}

.modal-formulario-input {
    margin-top: 1em;
    height: 1.7em;
    border-radius: 0.5em;
    border: none;
    padding: 0.5em;
    font-size: 1.2rem;
}

.modal-check {
    width: 1em;
    height: 1em;
    margin: 0.5em;
}

.cloud-btn {
    background-image: url('../../images/Cloud-Outline-PNG-Background-Image.png'); /* imagen de fondo con forma de nube */
    background-repeat: no-repeat; /* para que la imagen de fondo no se repita */
    background-position: center; /* para centrar la imagen de fondo */
    background-size: cover;
    background-color: transparent;
    border: none; /* para quitar los bordes del botón */
    width: 5.5rem; /* ancho del botón */
    height: 4rem; /* alto del botón */
    color: #fff; /* color del texto */

    text-align: center; /* para centrar el texto en el botón */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* sombra del texto */
    cursor: pointer; /* para cambiar el cursor al pasar sobre el botón */
    opacity: 0.8; /* opacidad del botón */
    margin: 0.4rem;
}
