* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    font-family: 'Reenie Beanie', cursive;
    background-image: url('./images/fondo-eva.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
}

input {
    text-align: center;
    padding: 0.3em;
    height: 1.7em;
}

.post-it input {
    border-radius: 1rem;
}

span {
    color: #fff;
}

#title {
    font-size: 80px;
    color: #fff;
    text-align: center;
    position: relative;
    top: 15px;
    text-shadow: 5px 5px 1px #000;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100vw;
    gap: 10px;
}

.post-it {
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    align-items: center;
    /* border: solid 1px #fff; */
}

.items-post {
    /* border: solid 1px #fff;  */
    margin-top: 1em;
    width: 90%;
    height: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.primera-rotacion {
    transform: rotate(-4deg);
}
.segunda-rotacion {
    transform: rotate(4deg);
}

.tercera-rotacion {
    transform: rotate(4deg) translate(0, -10px);
}

.recordatorios {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 0.1rem;
    border-radius: 1em;
    font-size: 2rem;
    width: 6em;
    height: 6em;
    border: solid 1px #000;
    overflow-x: hidden;
    background-color: #fefdcd;

    /* overflow-y: scroll; */
    scrollbar-color: transparent transparent;
    scrollbar-width: thin;
    /* overflow-y: auto; */
}

.recordatorios::-webkit-scrollbar {
    width: 0.25em;
    background-color: transparent;
}

.recordatorios::-webkit-scrollbar-button {
    background-color: transparent;
}

.recordatorios::-webkit-scrollbar-thumb {
    background-color: #20232a;
    border-radius: 0.5em;
}

.main-nota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 98%;
    text-align: center;
}

.title-nota {
    width: 98%;
    text-transform: uppercase;
    line-height: 2rem;
    word-wrap: break-word;
    text-decoration: underline;
}

.descripcion-nota {
    line-height: 1.5rem;
    width: 98%;
    word-wrap: break-word;
}

.importante {
    background-color: #ec7063;
}

.content {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 15px;
}

.cerrar {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin: 0.2rem;
    line-height: 0;
    height: 1.5rem;
    width: 95%;
}

.btn-cerrar {
    border-style: none;
    background: transparent;
    border-radius: 50%;
    margin-right: 0.2rem;
    font-size: 2rem;
    line-height: 0;
    height: 1.2rem;
    width: 1.2rem;
}

.btn-agregar {
    border-radius: 1rem;
    border-style: none;
    color: #fff;
    width: 8em;
    height: 1.7em;
    background-color: #20232a;
}

.btn-agregar:hover {
    background-color: #642bd6;
    border: #000 solid 1px;
}

.editar-div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.btn-editar {
    border-radius: 0.5em;
    width: 3em;
    border-style: none;
    background-color: #20232a;
    color: #fff;
    margin-bottom: 0.5em;
}

.btn-editar:hover {
    background-color: #642bd6;
    border: #000 solid 1px;
}

.checkbox {
    width: 1em;
    height: 1em;
    border: solid 1px #000;
    background-color: #fff;
}
